@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-btn {
    @apply cursor-pointer rounded-lg p-1.5 text-maincolor transition-all duration-200 hover:bg-stone-200;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #05070a inset !important;
  -webkit-text-fill-color: #fff !important;
  font-family: "Inter", sans-serif !important;
}

.outline-blue {
  @apply focus:outline-dark-focus focus:border-dark-focusbord outline-none outline-4 outline-offset-2 focus:outline;
}

input[type="checkbox"] {
  @apply bg-dark-darkbg border-dark-mainborder hover:border-dark-focusbord checked:border-dark-focusbord checked:bg-dark-focusbord outline-blue h-5 w-5 appearance-none rounded border-2 transition-all duration-300 hover:cursor-pointer;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}
